<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testcases.BaseTest" />
			<class name="testcases.Login_test" />
			<class name="testcases.DashboardTest" />
			<class name="testcases.AdminTest" />
			<class name="testcases.PIMTest" />
			<class name="testcases.LeaveTest" />
			<class name="testcases.MyInfoTest" />


		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
